body {
  background-color: #f9f7fe;
  color: #333;
}

a {
  color: blueviolet;
}
.App-header {
  text-align: center;
  margin: 20px;
  color: blueviolet;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}
